/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    margin: 50px auto;
    padding: 0 25px;
    width: 50vw;
    background: #fff;
}

.top,
.center,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

img {
    width: 50px;
}